<footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
        <small>Copyright &copy; <%= link_to "Johan van der Klift", "http://www.johanvanderklift.nl", class: "text-white" %></small>
    </div>
</footer>